html,body
{
	height: 100%;
	padding:0;
	margin:0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	// overflow: hidden;
}

input
{
	font-family: 'Quicksand', sans-serif;
}

select
{
	font-family: 'Quicksand', sans-serif;
	option
	{
		font-family: 'Quicksand', sans-serif;
	}
}

button
{
	font-family: 'Quicksand', sans-serif;
}

table
{
	text-align: center;
}