table
{
	text-align: center;
	thead
	{
		background-color: #3a89ce; 
		color: white;
	}
}

.form-group
{
	label
	{
		font-size: 15px;
		color:#2c2c2c;
	}
}

.avatar_image
{
	width:120px;
	height:120px;
	border:1px solid gray;
	border-radius: 50%;
}

.btn
{
	font-size: 15px;
}