@mixin keyframe($name)
{
	@-webkit-keyframes #{$name}
	{
		@content;
	}

	@-moz-keyframes #{$name}
	{
		@content;
	} 

	@-ms-keyframes #{$name}
	{
		@content;
	}

	@-o-keyframes #{$name}
	{
		@content;
	} 

	@keyframes #{$name}
	{
		@content;
	}
}

@mixin animation ($delay, $duration, $animation,$count, $timing,$direction: forward, $fillmode: fowards) {
	-webkit-animation-delay: $delay;
	-webkit-animation-duration: $duration;
	-webkit-animation-name: $animation;
	-webkit-animation-fill-mode: $fillmode;
	-webkit-animation-direction: $direction;
	-webkit-animation-iteration-count:$count;
	-webkit-animation-timing-function:$timing;

	-moz-animation-delay: $delay;
	-moz-animation-duration: $duration;
	-moz-animation-name: $animation;
	-moz-animation-fill-mode: $fillmode;
	-moz-animation-direction: $direction;
	-moz-animation-iteration-count:$count;
	-moz-animation-timing-function:$timing;

	animation-delay: $delay;
	animation-duration: $duration;
	animation-name: $animation;
	animation-fill-mode: $fillmode;
	animation-direction: $direction;
	animation-iteration-count:$count;
	animation-timing-function:$timing;
}


@include keyframe(moveGradient)
{
	0%{background-position:0%}
	100%{background-position: 400%}
}

@include keyframe(fadein)
{
    from {height:0;}
    to{height:200px;}
}
